{% trans_default_domain 'front' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                Monolith
            {% endblock %}
        </title>
        <link rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫</text></svg>" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('front') }}
        {% endblock %}
    </head>

    <body class="bg-dark">
        <header>
            <div class="container py-3">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <h3 class="m-0">
                        <a href="{{ path('front.homepage') }}"
                            class="d-flex align-items-center text-white text-decoration-none">
                            <span class="fs-4">Monolith</span>
                        </a>
                    </h3>

                    <nav class="nav nav-masthead d-inline-flex mt-2 mt-md-0 ms-md-auto justify-content-center">
                        <a class="nav-link fw-bold py-1 px-0 active"
                            href="{{ path('front.homepage') }}">
                            {% trans %}Home{% endtrans %}
                        </a>
                        <a class="nav-link fw-bold py-1 px-0"
                            href="{{ path('back.dashboard') }}">
                            {% trans %}Admin{% endtrans %}
                        </a>
                    </nav>
                </div>
            </div>
        </header>

        <main class="bg-white">
            <div class="container py-3">
                {% block main %}
                    {# Empty #}
                {% endblock %}
            </div>
        </main>

        <footer>
            <div class="container py-3">
                <p class="m-0 text-center text-white">
                    Copyright &copy; {{ 'now'|date('Y') }}
                </p>
            </div>
        </footer>
    </body>
</html>
